{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Category:create{% endblock %}
{% block body %}
    <h1>Dodaj kategorię</h1>
    {{ form_start (form) }}
    {{ form_widget (form) }}
    {{ form_end (form) }}
    <hr/>
    <a href="http://localhost:8000/">Powrót do strony głównej</a>
{% endblock %}