{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Category:create{% endblock %}
{% block body %}
    <div class="container">
    <h1>Dodaj kategorię</h1>
    {{ form_start (form) }}
    {{ form_widget (form) }}
    {{ form_end (form) }}
    <hr/>
        <a href="{{ path('start_page') }}">Powrót do strony głównej</a>
    </div>
{% endblock %}