{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Category:show{% endblock %}
{% block body %}
    <div class="container">
    <h1>Znajdź ogłoszenie po kategorii</h1>
    {% for category in categories %}
        <h2>{{ category.title }}</h2>
        {% for announcement in category.announcements %}
            <p><a href="{{ path('show_details', {'id':announcement.id}) }}">{{ announcement.title }}</a></p>
        {% endfor %}
        <hr/>
    {% endfor %}
        <a href="{{ path('start_page') }}">Powrót do strony głównej</a>
    </div>
{% endblock %}