{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Announcement:create{% endblock %}
{% block body %}
    <h1>Dodaj nowe ogłoszenie</h1>
    {% if app.user %}
        {% if errors is defined %}
            {% for error in errors %}
                <p> {{ error.message }}</p>
            {% endfor %}
        {% else %}
            {{ form_start (form) }}
            {{ form_widget (form) }}
            {{ form_end (form) }}
        {% endif %}
    {% else %}
        <h4 style="color: crimson">Aby dodać ogłoszenie musisz być zalogowany!</h4>
    {% endif %}
    <hr/>
    <a href="http://localhost:8000/">Powrót do strony głównej</a>
{% endblock %}