{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Announcement:create{% endblock %}

{% block body %}
    <h1>Dodaj nowe ogłoszenie</h1>
    {% if app.user %}
        {{ form_start (form) }}
        {{ form_widget (form) }}
        {{ form_end (form) }}
    {% else %}
        <h4 style="color: crimson">Aby dodać ogłoszenie musisz być zalogowany!</h4>
    {% endif %}
    <a href="http://localhost:8000/">Powrót do strony głównej</a>
{% endblock %}
