{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Announcement:edit{% endblock %}

{% block body %}
    <h1>Edytuj swoje ogłoszenie</h1>
    {% if errors is defined %}
        {% for error in errors %}
            <p> {{ error.message }}</p>
        {% endfor %}
    {% else %}
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    {% endif %}
    <a href="http://localhost:8000/">Powrót do strony głównej</a>
{% endblock %}
