{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Announcement:edit{% endblock %}

{% block body %}
    <h1>Edytuj swoje ogłoszenie</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
    <a href="http://localhost:8000/">Powrót do strony głównej</a>
{% endblock %}
