{% extends "::base.html.twig" %}

{% block title %}BoardBundle:Announcement:show{% endblock %}

{% block body %}
<h1>Wszystkie ogłoszenia</h1>
    {% for announcement in announcements %}
        <p><a href="{{ path('show_details', {'id': announcement.id}) }}">{{ announcement.title }}</a></p>
        <p>Cena: {{ announcement.price }}</p>
        <p>Data dodania: {{ announcement.addDate |date("d/m/Y H:i:s") }}</p>
        <hr/>
    {% endfor %}
{% endblock %}
